.job{
    &-description {
        max-height: 60px;
        -webkit-line-clamp: 3;
        // max-height: 52px;
        display: -webkit-box;
        -moz-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}