.card-button-group {
    transition: display 2.5s;
}
.candidate-card:hover .card-button-group {
    display: flex;
}

.candidate-modal {
    background-color: #efefef;
    background-image: url('../../../../static/assets/other/scenery.jpg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    // height: 40vh;
    background-size: cover;
}