.TnP{
    &-container {
    
    padding: 1em;
    background-color:#f0f4f7;        
        
  /* margin-top: 52.6px;
     background: linear-gradient(0deg, rgb(255, 255, 255) 88.5%, rgba(65,187,147,1) 70%);  */
    }
    &-containerS {
     /*   margin-top: 65.6px;
             background: linear-gradient(0deg, rgb(255, 255, 255) 80%, rgba(65,187,147,1) 70%); 
*/
        padding: 1em;
        background: #f0f4f7;
        }
    &-card {
        margin-top: 66px auto;
    }

}

*{
    box-sizing: border-box;
}


.TnP-container .css-1n6zk0c, .TnP-containerS .css-1n6zk0c{
    position: relative;
    top: -8rem;
    border-radius: 4px;
    padding: 6rem;
    padding-bottom: 0;
    margin: 0 auto;
}

.TnP-container .css-7zrdne, .TnP-containerS .css-7zrdne{
    position: relative;
    top: -6.5rem;
    border-radius: 4px;
    box-shadow: 0 20px 30px 0 rgb(19 28 36 / 11%);
    background-color: #fff;
    padding: 6rem 0 0;
    margin: 0 auto;
    max-width: 1140px;
}

.TnP-container .css-0 p, .TnP-containerS .css-0 p{

    margin-top: 20px;
}


@media screen and (min-width: 62em){

   .TnP-container .css-iwhty6, .TnP-containerS .css-iwhty6 {
     /*    margin-left: 1rem;
        margin-right: 1rem;
        width: auto; */

    padding: 0.5em;
}


}