.navbar-global{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #41bb93;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
}

.currency{
    min-width: 150px;
    font-size: 0.9em;
}